nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: grey}

    footer {
        text-align: center;
        color: white;
        border-top: 2px solid black;
        background-color:darkgrey;
        font-size: 15px;
        font-weight: bold;
        width:100%; }
           
    footer p {
        text-align: center;
               
        }